name: All Builds (Linux, macOS, Windows, Android, IPA, APK, AAB)

on:
  push:
    branches: [master, main]

  pull_request:
    branches: [master, main]

  workflow_dispatch:

env:
  BUILD_NUMBER: 1
  BUILD_VERSION: 1.0.0
  PYTHON_VERSION: 3.12.2
  FLUTTER_VERSION: 3.22.2

jobs:

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build libgtk-3-dev

      - name: Build Linux
        run: |
          flutter config --no-analytics
          flet build linux --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION

      - uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: build/linux
          overwrite: false

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - run: |
          flutter config --no-analytics
          flet build macos --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION

      - uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: build/macos
          overwrite: false

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - run: |
          flutter config --no-analytics
          flet build windows --verbose --build-number=%BUILD_NUMBER% --build-version=%BUILD_VERSION%

      - uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/windows
          overwrite: false

  build-apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - run: |
          flutter config --no-analytics
          flet build apk --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION

      - uses: actions/upload-artifact@v4
        with:
          name: apk-build
          path: build/apk
          overwrite: false

  build-aab:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - run: |
          flutter config --no-analytics
          flet build aab --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION

      - uses: actions/upload-artifact@v4
        with:
          name: aab-build
          path: build/aab
          overwrite: false

  build-ipa:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - run: |
          flutter config --no-analytics
          flet build ipa --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION

      - uses: actions/upload-artifact@v4
        with:
          name: ipa-build
          path: build/ipa
          overwrite: false
